@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-family: "Roboto", sans-serif;
  --body-bg-color: #fffbec;
  --body-before-bg-color: #fef3c7;
  --menu-text-color: #78350f;
  --title-bg-color: #0f172a;
  --footer-bg-color: #0f172a;
  --button--border-color: #78350f;
  --button-border-radius: 8px;
  --footer-menu-color: #e2e8f0;
  --dot-border-color: #a3e635;
  --dot-background-color: #d9f99d;
  --header-img-bg-color: #fbbf24;
  --text-white-color: #ffffff;
  --commit-title-color: #475569;
  --commit-bg-color: #fde68a;
  --product-bg-color: #e2e8f0;
  --collection-bg-color: #fffef9;
}

body {
  font-family: var(--font-family);
  font-size: 1.6rem;
  background: var(--body-bg-color);
  line-height: 1.4;
  color: var(--color-dark);
  font-size: 18px;
}

/* ============= Header Start ================= */
.header__content {
  position: relative;
  overflow: hidden;
}

.header__triangle {
  position: absolute;
  content: "";
  width: 170%;
  height: 100%;
  background-color: var(--body-before-bg-color);
  transform: rotate(335deg);
  right: -23%;
  top: 69%;
  z-index: -2;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
}

.navbar__logo {
  font-size: 32px;
  font-weight: 700;
  color: var(--menu-text-color);
}

.navbar__menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.navbar__menu li a {
  color: var(--menu-text-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: left;
  padding: 0 8px;
  margin: 0 16px;
}

.navbar__menu li .navbar__menu--sign-btn {
  border: 2px solid var(--button--border-color);
  padding: 12px 28px;
  border-radius: var(--button-border-radius);
}

.navbar__hamburger--btn {
  display: none;
  position: relative;
  width: 24px;
  height: 24px;
  border: 0;
  outline: 0;
  background-color: transparent;
}

.navbar__hamburger--btn span {
  display: block;
  width: 18px;
  position: absolute;
  content: "";
  bottom: 0;
  right: 0;
  height: 2px;
  border-radius: 100%;
  background-color: var(--button--border-color);
}

.navbar__hamburger--btn span::before {
  display: block;
  width: 13px;
  position: absolute;
  content: "";
  bottom: 7px;
  right: 0;
  height: 2px;
  border-radius: 100%;
  background-color: var(--button--border-color);
}

.navbar__hamburger--btn span::after {
  display: block;
  width: 8px;
  position: absolute;
  content: "";
  bottom: 14px;
  right: 0;
  height: 2px;
  border-radius: 100%;
  background-color: var(--button--border-color);
}

.header__content--details {
  margin: 160px 0;
}
.header__content--details h2 {
  font-size: 72px;
  font-weight: 800;
  color: var(--title-bg-color);
  margin-bottom: 32px;
}

.header__content--details p {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 32px;
}

.header__content--buttons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.header__content--sign-btn {
  border: 2px solid var(--button--border-color);
  border-radius: var(--button-border-radius);
  padding: 16px 32px;
  margin-right: 16px;
  color: var(--menu-text-color);
  font-size: 20px;
  font-weight: 500;
}

.header__content--media-btn {
  padding: 12px 8px;
  display: flex;
  align-items: center;
  color: var(--menu-text-color);
  font-size: 16px;
  font-weight: 500;
}
.header__content--media-btn img {
  margin-right: 8px;
}

.header__image {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 80px 0;
}

.header__image::before {
  position: absolute;
  content: "";
  width: 372px;
  height: 362px;
  background-color: var(--header-img-bg-color);
  border-radius: 50px;
  z-index: -1;
  margin: 16px;
  right: 49px;
  top: 33px;
}

.header__content--threebox {
  margin-bottom: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__content--threebox-item:nth-last-of-type(2) {
  margin: 0 80px;
}

.header__content--threebox-icon {
  position: relative;
  margin-bottom: 10px;
}

.header__content--threebox-icon span {
  position: absolute;
  left: 27px;
  top: 0;
}

.header__content--three-details h6 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 16px;
}

.header__content--three-details p {
  font-size: 18px;
  font-weight: 400;
  line-height: 28.8px;
}
@media screen and (max-width: 1000px) {
  body {
    background-color: var(--text-white-color);
  }
  .navbar {
    padding: 16px 0;
  }
  .navbar__menu {
    display: none;
  }

  .navbar__hamburger--btn {
    display: block;
  }

  .header__content--details {
    margin: 48px 0 0;
  }

  .header__content--details h2 {
    font-size: 56px;
    text-align: center;
    margin-bottom: 32px;
  }

  .header__content--details p {
    text-align: center;
    line-height: 28.8px;
  }

  .header__content--buttons {
    justify-content: center;
  }
  .header__image {
    align-items: center;
    justify-content: center;
    margin: 32px 0 92px;
  }

  .header__image img {
    width: 360px;
  }

  .header__image::before {
    right: 0;
    top: 0;
    bottom: 0;
    left: 52px;
    width: 265px;
    height: 276px;
  }
  .header__content--threebox {
    margin-bottom: 48px;
  }
  .header__triangle {
    position: absolute;
    content: "";
    width: 1000px;
    height: 1094px;
    background-color: var(--body-before-bg-color);
    transform: rotate(327deg);
    right: -100%;
    top: 43%;
    z-index: -2;
  }

  .header__content--threebox {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .header__content--threebox-icon {
    position: relative;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header__content--threebox-icon span {
    left: 178px;
  }
  .header__content--threebox-item:nth-last-of-type(2) {
    margin: 32px 0;
  }

  .header__content--three-details h6,
  .header__content--three-details p {
    text-align: center;
  }
}
/* ============= Header End ================= */

footer {
  background-color: var(--footer-bg-color);
  padding: 48px 80px 0;
}

.footer__links li a {
  color: var(--footer-menu-color);
  padding: 12px 0;
  display: block;
  font-size: 16px;
  font-weight: 400;
}

.footer__links li:first-child a {
  color: var(--text-white-color);
  font-weight: 500;
}

.footer__app h6 {
  color: var(--text-white-color);
  font-weight: 500;
  font-size: 16px;
  padding: 12px 0;
  margin: 0;
}

.footer__app--btn {
  margin: 8px 0 0;
}

.footer__socail-media {
  margin-top: 48px;
}

.footer__socail-media h6 {
  color: var(--footer-menu-color);
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 20px;
}

.footer__socail-media ul {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.footer__socail-media ul li {
  margin: 0 16px 0 0;
}

.footer__bottom {
  border-top: 1px solid #334155;
  margin-top: 48px;
  padding: 37px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__bottom p {
  color: var(--footer-menu-color);
  font-weight: 400;
  font-size: 16px;
}

.footer__bottom ul {
  display: flex;
  align-items: center;
}

.footer__bottom ul li a {
  padding: 0 16px;
  display: block;
  color: var(--footer-menu-color);
  font-weight: 400;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.footer__bottom ul li a img {
  margin-right: 8px;
}

@media screen and (max-width: 768px) {
  footer {
    background-color: var(--footer-bg-color);
    padding: 24px 0;
  }
  .footer__links li a {
    text-align: center;
  }

  .footer__links {
    margin: 24px 0;
  }

  .footer__bottom {
    flex-direction: column;
  }

  .footer__bottom p {
    margin-bottom: 24px;
  }

  .footer__app,
  .footer__bottom,
  .footer__socail-media {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

/* collection  */
.collection {
  padding: 80px 0;
  background-color: var(--collection-bg-color);
  position: relative;
}

.collection__bg {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 74%;
  z-index: 0;
}

.collection__box {
  position: relative;
  z-index: 2;
}

.collection__box h2 {
  font-size: 56px;
  font-weight: 800;
  margin-bottom: 32px;
}

.collection__box p {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 80px;
}

.collection__box--details {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.collection__box--details ul {
  margin-top: 15px;
}

.collection__box--details ul li {
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

.collection__box--details ul li.is-active,
.collection__box--details ul li:hover {
  background-color: var(--text-white-color);
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.collection__box--details ul li img {
  margin-right: 16px;
}

/* commet  */
.comment {
  background-color: var(--collection-bg-color);
  padding: 80px 0;
  position: relative;
}

.comment::before {
  position: absolute;
  content: "";
  left: 3%;
  right: 0;
  bottom: 0;
  top: 27%;
  width: 94%;
  height: 323px;
  background-color: var(--commit-bg-color);
}
.comment__box h2 {
  font-size: 56px;
  font-weight: 800;
  margin-bottom: 40px;
}
.commit-arrow .swiper-button-next,
.commit-arrow .swiper-button-prev {
  position: relative !important;
}

.commit-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55px;
}

.swiper-button-prev,
.swiper-button-next {
  border: 2px solid var(--button--border-color);
  border-radius: 100%;
  width: 30px;
  height: 30px;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  display: none;
}

.comment__box--item {
  background-color: var(--text-white-color);
  border-radius: 20px;
  padding: 32px;
  border: 1px solid var(--footer-menu-color);
}
.comment__box--item h2 {
  margin-bottom: 32px;
  font-size: 24px;
  font-weight: 700;
  display: flex;
  align-items: center;
  color: var(--commit-title-color);
}

.comment__box--item p {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 16px;
}
.comment__box--item h2 img {
  margin-right: 3px;
}

.comment__box--item-details {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.comment__box--item-details img {
  margin-right: 7px;
}
.comment__box--item-details p {
  display: flex;
  margin: 0;
  flex-direction: column;
}

.comment__box--item-details p strong {
  font-size: 18px;
  font-weight: 400;
}

.comment__box--item-details p span {
  font-size: 16px;
  font-weight: 400;
  color: var(--commit-title-color);
}

/* joius  */
.join-us {
  padding: 160px 0 80px;
  background-color: var(--collection-bg-color);
}

.join-us__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 80px;
  border-radius: 30px;
  opacity: 0px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: var(--text-white-color);
}

.join-us__box--details h2 {
  font-size: 56px;
  font-weight: 800;
  margin-bottom: 24px;
}

.join-us__box--details-btn {
  border: 2px solid var(--button--border-color);
  padding: 16px 32px;
  display: inline-block;
  margin-top: 24px;
  border-radius: 8px;
  color: var(--button--border-color);
  font-size: 20px;
}

.join-us__box--details ul li {
  display: flex;
  align-items: center;
}

.join-us__box--details ul li img {
  margin-right: 8px;
}

.join-us__box--img-circle {
  position: absolute;
  left: 19%;
  bottom: 15px;
}
.join-us__box--img {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.join-us__box--img img {
  position: relative;
  z-index: 0;
}
.join-us__box--img svg {
  position: absolute;
  z-index: 0;
  right: -100px;
}
/* MAP  */
.map {
  background-color: var(--button--border-color);
  padding: 42px 0;
  position: relative;
}

.map-title {
  text-align: center;
  color: var(--text-white-color);
  width: 100%;
  height: 100%;
  margin: 60px 0 0 57px;
  position: relative;
  z-index: 9;
  line-height: -5px;
}

.map-title h2 {
  font-size: 96px;
  font-weight: 800;
  margin-bottom: 0;
  line-height: 90px;
}

.map-title h3 {
  font-size: 56px;
  font-weight: 800;
}

.map__wallpaper {
  background-image: url("../assets/images/map.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: relative;
  height: 745px;
  overflow: hidden;
}

.map__wallpaper::after {
  position: absolute;
  content: "";
  left: 325px;
  right: 0;
  bottom: 0;
  top: 133px;
  background-image: url(../assets/images/pointer.png);
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
}

.map__wallpaper--dot {
  border: 3px solid var(--dot-border-color);
  position: absolute;
  content: "";
  width: 32px;
  height: 32px;
  border-radius: 100%;
  background-color: var(--dot-background-color);
  z-index: 1;
}

.map__wallpaper--product {
  position: relative;
  max-width: 300px;
  left: 14%;
  top: 7%;
}

.map__wallpaper--product img {
  position: relative;
  z-index: 2;
}

.map__wallpaper--dot:hover {
  background-color: var(--dot-background-color);
  cursor: pointer;
}

.map__wallpaper--product-details {
  background-color: var(--product-bg-color);

  position: absolute;
  bottom: -14px;
  max-width: 260px;
  left: 24px;
  padding: 16px;
  z-index: 1;
  border-radius: 5px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

.map__wallpaper--product-details p {
  font-size: 14px;
  font-weight: 400;
}

.map__wallpaper--product-details p strong {
  font-weight: 500;
}

.map__wallpaper--product-details::before {
  content: "";
  position: absolute;
  left: 49%;
  bottom: -10px;
  z-index: 9;
  background-image: url(../assets/images/map-dot-arrow.png);
  background-repeat: no-repeat;
  width: 18px;
  height: 10px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

/* blog  */
.blog {
  padding: 80px 0;
  background-color: var(--title-bg-color);
  color: var(--text-white-color);
}

.blog__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 80px;
}

.blog__header h2 {
  font-size: 56px;
  font-weight: 800;
}

.blog__header .blog-btn {
  border: 1px solid var(--text-white-color);
  padding: 20px 48px;
  border-radius: 8px;
  font-size: 24px;
  color: var(--text-white-color);
}

.blog__box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.blog__bog--bg {
  position: absolute;
  left: -28px;
  right: 0;
  top: -26px;
  bottom: 0;
  width: 104%;
  z-index: 0;
  height: 109%;
}

.blog__box--item {
  background-color: var(--title-bg-color);
  color: var(--text-white-color);
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 25px 50px -12px rgba(255, 255, 255, 0.25);
}

.blog__box--item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.blog__box--item:nth-of-type(2) {
  margin: 0 48px;
}

.blog__box--item-details {
  padding: 32px;
}

.blog__box--item-details h2 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 16px;
}

.blog__box--item-details p {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 32px;
}

.blog__box--item-details button {
  border: 1px solid var(--text-white-color);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 16px;
  color: var(--text-white-color);
  border-radius: 8px;
  font-size: 20px;
}

.blog__box--item-details button img {
  width: auto;
  height: auto;
  object-fit: contain;
  margin-right: 16px;
}

@media screen and (max-width: 768px) {
  .blog__header {
    flex-direction: column;
  }

  .blog {
    padding: 48px 0;
  }

  .blog__header h2 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 32px;
  }

  .blog__box {
    flex-direction: column;
  }

  .blog__box--item:nth-of-type(2) {
    margin: 32px 0;
  }

  .blog__bog--bg {
    position: absolute;
    left: 0;
    right: 0;
    top: -34%;
    bottom: 0;
    width: 104%;
    z-index: 0;
    height: 100%;
    object-fit: contain;
  }

  .join-us__box {
    flex-direction: column;
    padding: 32px 16px;
  }

  .join-us__box--details h2 {
    font-size: 32px;
    font-weight: 700;
    text-align: center;
  }

  .join-us__box--details ul li {
    margin: 8px 0;
    align-items: flex-start;
  }

  .join-us__box--details {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .join-us__box--details-btn {
    z-index: 9;
  }

  .join-us__box--img img {
    width: 100%;
  }

  .join-us__box--img .join-us__box--img-circle img {
    width: 35px;
  }

  .join-us__box--img svg {
    position: absolute;
    z-index: 0;
    right: -62px;
    width: 435px;
  }
  .join-us {
    padding: 16px 0;
  }

  .blog {
    overflow: hidden;
  }

  .commit-arrow {
    display: none;
  }

  .comment {
    padding: 48px 0;
  }

  .join-us {
    overflow: hidden;
  }

  .comment__box h2 {
    font-size: 32px;
    text-align: center;
    width: 100%;
    margin-bottom: 16px;
  }

  .comment::before {
    top: 22%;
    height: 270px;
  }

  .comment__box--item {
    margin: 0 24px;
  }

  .comment__box--item p {
    font-size: 16px;
  }

  .comment__box--item h2 {
    margin-bottom: 16px;
  }

  .collection {
    padding: 48px 0;
  }

  .collection__box h2 {
    text-align: center;
    font-size: 32px;
  }
  .collection__box p {
    text-align: center;
    font-size: 16px;
    margin-bottom: 32px;
  }

  .collection__box--details {
    flex-direction: column;
  }
  .collection__box--details ul {
    display: flex;
    flex-wrap: nowrap;
    max-width: 100%;
    overflow-x: scroll;
    margin-bottom: 32px;
  }

  .collection__box--details ul li {
    text-wrap: nowrap;
  }

  .collection__box--details img {
    width: 100%;
  }

  .is-active img:last-child {
    display: none;
  }

  .map-title {
    margin: 60px 0 0;
  }

  .map__wallpaper--product {
    top: 2%;
  }

  .map__wallpaper--dot {
    top: 38%;
    left: 49%;
  }
  .map-title h2 {
    font-size: 48px;
  }

  .map-title h3 {
    font-size: 32px;
  }
}
